.carousel{
  display: flex;
  position: relative;
  height: 100vh;
  flex:1;
  overflow: hidden;
}

.card{
  flex:1;
  transition: .5s;
}

.card__image{
  aspect-ratio: 16/9;
  width: 100%;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__image-container{
  transition: .5s all;
  width: 80%;
  aspect-ratio: 16/9;
  background-color:ghostwhite;
}

.card__image-img{
  width: 100%;
}

.card__intro{
  position: relative;
  width: 80%;
  transform: scale(.9);
  margin: 0 auto;
  transform-origin: center;
  transition: .5s all;
  opacity: 0;
  background-color: #96c0b8;
}

.card{
  width: 60%;
  aspect-ratio: 16/9;
  position: absolute;
  transition: .5s all;
  transform: translateX(-50%);
}

.card:nth-child(1){
  left: -60%;
}


.card:nth-child(2){
  left: -10%;
}

.card:nth-child(3){
 left:50%;
}

.card:nth-child(3) .card__intro{
  opacity: 1;
  transform: scale(1);
}

.card:nth-child(3) .card__image-container{
  width: 100%;
}

.card:nth-child(4){
  left:110%
}

.card:nth-child(5){
  left: 160%
}
